*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}
#main{
    width: 100%;
    height: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color:black;
    padding-top:2vw ;
    
}
#nav{
    width: 100%;
    height: 15%;
    /* background-color: rgb(125, 174, 168); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav1{
    padding-left:2vw;
    width: 23%;
    /* height: 5vw; */
    /* background-color: yellow; */
    text-align: center;
}
#nav1 h1{
    font-size: 4vw;
    font-weight: 500;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#nav2{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
#nav1 h1:hover{
    cursor: pointer;
    /* text-shadow: 2px 2px 2px rgb(203, 28, 28); */
    /* border-radius: 10vw; */
    /* box-shadow: 0px 10px 30px rgba(234, 7, 7, 0.5); */
    /* background-color: rgb(192, 62, 62); */
    border-radius: 3vw;
    /* border: 2px solid red; */
    

}
#nav2 h2{
    font-size: 1.4vw;
    font-weight: 400;
    color:red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#nav2 h2:hover{
    cursor: pointer;
    text-decoration: underline red;
}

#center{
    height: 84%;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
}
#center-left{
    margin-top: 1vw;
    height: 95%;
    width: 55%;
    /* background-color: turquoise; */
}
#center-left h2{
    font-size: 4.5vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: 2vw;
    color: red;
}
#center-left h1{
    font-size: 6vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin: 2vw;
    color: red;
}
#center-left h3{
    font-size: 2.4vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: 2vw;
    color: red;
}
#center-left button{
    width:10vw;
    height: 4vw;
    border-radius: 2vw;
    color: red;
    border: 2px solid red;
    margin: 2vw;
    background-color: black;
}
#center-left button:hover{
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0px 18px 40px rgba(228, 109, 109, 0.35);
  border: 2px solid whitesmoke;
  background: linear-gradient(135deg, #da4c6a, #7da5ce);  
  color: black;
}
#center-right{
    height: 90%;
    width: 32%;
    
}

#center-right img{
    height: 112%;
    width: 100%;
    object-fit: cover;
    object-position:top;
   
}


#page2{
    width: 100%;
    height: 100%;
    background-color: black;
    padding-top: 2vw;
    
}

#upper{
    width: 40%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-bottom: 2px solid #ff0000; 
    margin-left: 2vw;
}

#upper h1{
    color: #ff0000; 
    font-size: 6vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900; 
    text-shadow: 0 0 10px #cb1313, 0 0 20px #a81313, 0 0 30px #ac1515;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#upper h1:hover{
    color: #ff0000;          
    transform: scale(1.05);   
    text-shadow: 0 6px 15px rgba(255, 0, 0, 0.4);
    cursor: pointer;
    
}

#center2{
    width: 100%;
    height: 80%;
    /* background-color: violet; */
    margin-top: 1vw;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

#middle{
    width: 40%;
    height: 80%;
    /* background-color: yellow; */
    /* margin: 8vw; */
    /* margin-left: 5vw; */
}
#middle h2{
    font-size: 2.5vw;
    font-weight: 400;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2vw;
    padding-top: 4vw;
}

#middle p{
    font-size: 1.5vw;
    font-weight: 400;
    color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2vw;
}

#image{
    width: 40%;
    height: 85%;
    /* background-color: crimson; */
}

#image img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
#image img:hover{
    box-shadow: 5px 5px 20px red;
    border-radius: 5vw;
}

#page3{
    width: 100%;
    height: 100%;
    background-color: black;
}

#upper2{
    width: 40%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-bottom: 2px solid #ff0000; 
    margin-left: 2vw;
}
#upper2 h1{
    color: #ff0000; 
    font-size: 6vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900; 
    text-shadow: 0 0 10px #cb1313, 0 0 20px #a81313, 0 0 30px #ac1515;
    letter-spacing: 5px;
    text-transform: uppercase;
}
#upper2 h1:hover{
    color: #ff0000;          
    transform: scale(1.05);   
    text-shadow: 0 6px 15px rgba(255, 0, 0, 0.4);
    cursor: pointer;
    
}
#center3{
    width: 100%;
    height: 80%;
    /* background-color: violet; */
    margin-top: 1vw;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
#page3-left{
    width: 40%;
    height: 80%;
    /* background-color: yellow; */
    margin: 8vw;
    margin-left: 5vw;
}
#page3-left h2{
    font-size: 2.5vw;
    font-weight: 400;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2vw;
    padding-top: 4vw;
}

#page3-left p{
    font-size: 1.5vw;
    font-weight: 400;
    color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2vw;
}
#page3-right{
    width: 40%;
    height: 85%;
    /* background-color: crimson; */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    
}
#page3-first{
    /* background-color: springgreen; */
    height: 11vw;
    width: 11vw;
    margin: 2vw;
}
#page3-first h1{
    color: red;
    font-weight: 400;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
}
#page3-first h2{
    color: white;
    font-weight: 100;
    margin-left: 0.7vw;
    font-size: 4vw;
}
#page3-first:hover{
    border-radius: 3vw;
    box-shadow: 5px 5px 8px red;
}

#page3-second{
    /* background-color: springgreen; */
    height: 11vw;
    width: 11vw;
    margin: 2vw;
}
#page3-second h1{
    color: red;
    font-weight: 400;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
}
#page3-second h2{
    color: white;
    font-weight: 100;
    margin-left: 0.7vw;
    font-size: 4vw;
}
#page3-second:hover{
    border-radius: 3vw;
    box-shadow: 5px 5px 8px red;
}
#page3-third{
    /* background-color: springgreen; */
    height: 11vw;
    width: 11vw;
    margin: 2vw;
    
}
#page3-third h1{
    color: red;
    font-weight: 400;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
}
#page3-third h2{
    color: white;
    font-weight: 100;
    margin-left: 0.7vw;
    font-size: 4vw;
}
#page3-third:hover{
    border-radius: 3vw;
    box-shadow: 5px 5px 8px red;
}
#page3-fourth{
    /* background-color: springgreen; */
    height: 11vw;
    width: 11vw;
    margin: 2vw;
    
}
#page3-fourth h1{
    color: red;
    font-weight: 400;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
}
#page3-fourth h2{
    color: white;
    font-weight: 100;
    margin-left: 0.7vw;
    font-size: 4vw;
}
#page3-fourth:hover{
    border-radius: 3vw;
    box-shadow: 5px 5px 8px red;
}

#page4{
    height: 100%;
    width: 100%;
    background-color: #000000;
}

#upper3{
    width: 53%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-bottom: 2px solid #ff0000; 
    margin-left: 2vw;
}
#upper3 h1{
    color: #ff0000; 
    font-size: 6vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900; 
    text-shadow: 0 0 10px #cb1313, 0 0 20px #a81313, 0 0 30px #ac1515;
    letter-spacing: 5px;
    text-transform: uppercase;
}
#upper3 h1:hover{
    color: #ff0000;          
    transform: scale(1.05);   
    text-shadow: 0 6px 15px rgba(255, 0, 0, 0.4);
    cursor: pointer;
    
}
#center4{
    height: 77%;
    width: 100%;
    /* background-color: #a81313; */
    margin-top: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#box1{
    height: 15vw;
    width: 25vw;
    /* background-color: white; */
}
#box1 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#box1 img:hover{
    box-shadow: 2px 2px 2px 2px red;
    border-radius: 2vw;
    cursor: pointer;
    /* box-shadow: 5px 5px 8px red; */
}
#box2{
    height: 15vw;
    width: 25vw;
    /* background-color: white; */
}
#box2 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#box2 img:hover{
    box-shadow: 2px 2px 2px 2px red;
    border-radius: 2vw;
    cursor: pointer;
}
#box3{
    height: 15vw;
    width: 25vw;
    /* background-color: white; */
}
#box3 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#box3 img:hover{
    box-shadow: 2px 2px 2px 2px red;
    border-radius: 2vw;
    cursor: pointer;
}
#box4{
    height: 15vw;
    width: 25vw;
    /* background-color: white; */
    border-radius: 2vw;
}
#box4 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#box4 img:hover{
    box-shadow: 2px 2px 2px 2px red;
    border-radius: 2vw;
    cursor: pointer;
}
#box5{
    height: 15vw;
    width: 25vw;
    /* background-color: white; */
    border-radius: 2vw;
}
#box5 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#box5 img:hover{
    box-shadow: 2px 2px 2px 2px red;
    border-radius: 2vw;
    cursor: pointer;
}
#box6{
    height: 15vw;
    width: 25vw;
    /* background-color: white; */
    border-radius: 2vw;
}
#box6 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#box6 img:hover{
    box-shadow: 2px 2px 2px 2px red;
    border-radius: 2vw;
    cursor: pointer;
}


#page5{
    height: 100%;
    width: 100%;
    background-color: black;
}
#upper4{
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-bottom: 2px solid #ff0000; 
    margin-left: 2vw;
}
#upper4 h1{
    color: #ff0000; 
    font-size: 5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900; 
    text-shadow: 0 0 10px #cb1313, 0 0 20px #a81313, 0 0 30px #ac1515;
    letter-spacing: 5px;
    text-transform: uppercase;
}
#upper4 h1:hover{
    color: #ff0000;          
    transform: scale(1.05);   
    text-shadow: 0 6px 15px rgba(255, 0, 0, 0.4);
    cursor: pointer;
    
}
.timeline-section{
  background:black;
  padding:60px 5%;
}

.timeline{
  position:relative;
  max-width:1000px;
  margin:auto;
}


.timeline::before{
  content:"";
  position:absolute;
  left:50%;
  top:0;
  width:4px;
  height:100%;
  background:red;
  transform:translateX(-50%);
}

.timeline-item{
  position:relative;
  width:50%;
  padding:20px 40px;
}

.timeline-item.left{
  left:0;
  text-align:right;
}

.timeline-item.right{
  left:50%;
}

.content{
  background:transparent;
}

.content h2{
  color:red;
  font-size:2.6vw;
  margin:8px 0;
}

.content p{
  font-size:2vw;
  color:white;
}

.step{
  font-size:1vw;
  letter-spacing:2px;
  color:red;
  font-weight:600;
}
.timeline-item .icon{
    color: azure;
    font-size: 1.6vw;
}

#page6{
  height:70vw;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding-top: 45vw;
}
#upper5{
    width: 45%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-bottom: 2px solid #ff0000; 
    margin-left: 2vw;
}
#upper5 h1{
    color: #ff0000; 
    font-size: 5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900; 
    text-shadow: 0 0 10px #cb1313, 0 0 20px #a81313, 0 0 30px #ac1515;
    letter-spacing: 5px;
    text-transform: uppercase;
}
#upper5 h1:hover{
    color: #ff0000;          
    transform: scale(1.05);   
    text-shadow: 0 6px 15px rgba(255, 0, 0, 0.4);
    cursor: pointer;
    
}
#page6 h2{
    color: red;
    font-size: 2vw;
    text-align: center;
    margin-top: 40px;
    margin-right: 50vw;
}
#page6 button{
    padding: 12px 30px;
    background: linear-gradient(135deg, red, blue);
    color: white;
    font-size: 1.2vw;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px red;
    margin-left: 280px;
    margin-top: 20px;
     transition: all 0.3s ease;
}
#page6 button:hover{
    transform: translateY(-4px);
    box-shadow: 0 10px 20px red;
}
#baseline-last{
    height: 8vh;
    width: 100%;
    background-color: red;
    margin-top: 40px;
}
#baseline-last h1{
    color: azure;
    font-size: 2vw;
    text-align: center;
}
#baseline-last h1:hover{
    color: beige;
    text-decoration: none;
}
